<footer class="container">
  <div class="row">
    <p class="col-sm-4">&copy; Mehdi AOUADI 2017</p>
    <ul class="col-sm-8">
    <li class="col-sm-1">
      <a href="http://stackoverflow.com/cv/mehdiaouadi" target="_blank"><img src="\assets\img\sof-icon.png">
    </li>
    <li class="col-sm-1">
      <a href="https://github.com/mehdi-aouadi" target="_blank"><img src="\assets\img\github-icon.png"></a>
    </li>
    <li class="col-sm-1">
      <a href="https://www.linkedin.com/in/mehdiaouadi" target="_blank"><img src="\assets\img\linkedin-icon.png"></a>
    </li>
    </ul>
  </div>
</footer>