<header class="site-header">
<div class="container">
    <div class="row">
    <h5 class="col-sm-4"><a class="page-link" href="{{ site.baseurl }}/">{{ site.title }}</a></h5>
    <nav class="col-sm-8 text-right nav">
      {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}"><p>{{ my_page.title }}</p></a>
          {% endif %}
      {% endfor %}
    </nav>
    <a id="menu" class="header__menu">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
          </svg>
    </a>
  </div>
  {{ site.baseurl }}
  </div>
  <script>
      /*
       * Open the drawer when the menu ison is clicked.
       */
      var menu = document.querySelector('#menu');
      var main = document.querySelector('main');
      var drawer = document.querySelector('.nav');

      menu.addEventListener('click', function(e) {
        drawer.classList.toggle('open');
        e.stopPropagation();
      });
      main.addEventListener('click', function() {
        drawer.classList.remove('open');
      });

    </script>
</header>