<section class="jumbotron">
	<div class="container">
	  <div class="row text-center">
		<h3>One of my favorite quotes from <a href="http://cc2e.com/" target="_blank" style="color:white">Steve McConnell, Code Complete (2nd Edition)</a> :</h3>
	  	<h4>Reduce complexity. The single most important reason to create a routine is to reduce a program's complexity. Create a routine to hide information so that you won't need to think about it.</h4>
	  	<center><hr></center>
		<h3>My blog is under maintenance and the content may be incomplete.</h3>
	  </div>
	</div>
</section>