<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="/assets/javascript/typed.min.js"></script>
 <script>
 $(function() {
   $("#typed").typed( {
     strings: ["I am a Software Engineer", "I love Club Mate", "I am a fan of Java", "Who is John Galt ?"],
     typeSpeed: 50,
     backDelay: 100,
     loopCount: Infinity,
     loop: true,
   });
 });
 </script>
<div class="type-wrap"><span id="typed"></span></div>